
body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #34495e;
    background-color: #34495e;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #34495e;
    background-color: #34495e;
}

.register-form h2 {
    text-align: center;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #ecf0f1;
    border: 1px solid #ecf0f1;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #16a085;
}


.login-form h2 {
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #ecf0f1;
    border: 1px solid #ecf0f1;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #16a085;
}

.main {
    position: relative;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background .blur {
    font-size: 20vw; /* Change this to the desired size. */
    color: rgba(236, 240, 241, 0.0);
    text-shadow: 0 0 20px #ecf0f1;
    text-align: center;
}
.foreground {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
    background: rgba(52, 73, 94, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}


.foreground h1 {
    margin-bottom: 20px;
}

.foreground button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.foreground button:hover {
    background-color: #16a085;
}
.user-page {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-title {
    margin-bottom: 20px;
    font-size: 3rem;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #1abc9c;
}

#sample-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sample-list p {
    font-size: 1.5rem;
    color: #ecf0f1;
    margin-bottom: 10px;
}

#sample-list button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2rem;
}

#sample-list button:hover {
    background-color: #16a085;
}
